*.py[co]
.DS_Store
.idea
*.swp*
*~
*.tmproj
*.log
.env
tmp

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# staticfiles
staticfiles/
